header{
 background-color: rgb(204, 36, 182);/*cor de fundo*/
 color: rgb(20, 159, 201);/*cor da fonte*/

}
main{
background-color: rgb(194, 83, 32);
color: rgb(212, 49, 49);

}
footer{
background-color: rgb(30, 150, 66);
color: rgb(58, 125, 129);

}